<div class="row">
    <div class="col-12">
        <mat-dialog-content>
            <p>Player Details</p>
            <mat-card class="example-card" appearance="outlined">
                <mat-card-header style="text-align: center;">
                    <!-- Avatar/Image at the top center -->
                    <div mat-card-avatar class="example-header-image" style="background-image: url('{{ player.imageUrl }}'); background-size: cover; background-position: center; height: 150px; width: 150px; border-radius: 50%; margin: 0 auto;">
                    </div>
                    <mat-card-title>{{ player.name }}</mat-card-title>
                    <mat-card-subtitle>{{ player.position }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <div>
                        <strong>Player ID:</strong> {{ player.playerId }}
                    </div>
                    <div>
                        <strong>Age:</strong> {{ player.age }}
                    </div>
                    <div>
                        <strong>Height:</strong> {{ player.height }} cm
                    </div>
                    <div>
                        <strong>Weight:</strong> {{ player.weight }} kg
                    </div>
                    <div>
                        <strong>Nationality:</strong> {{ player.nationality }}
                    </div>
                    <div>
                        <strong>Biography:</strong> <br/> {{ player.biography }}
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button (click)="cancle()">Cancel</button>
        </mat-dialog-actions>
    </div>
</div>
